/*body {*/
/*    background-color: darkslategrey;*/
/*}*/

#fabflix-top-logo {
    font-family: fantasy;
    color: limegreen;
    font-size: 3em;
}

.fabflix-navbar-dark {
    background-color: rgb(90%, 90%, 90%);
}

.horizontal-list > li {
    zoom: 1;
    display: inline-block;
    padding-right: 5px;

}

.three-column-list {
    column-count: 3;
    column-gap: 20px;
}

